*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;

}
#main{
    height: 100%;
    width: 100%;
    background-color: #f8f8f8;
    position: relative;
    padding-top: 0.1px;

}

#nav{
    height: 10vh;
    width: 100%;
    /* background-color: red; */
    margin-top: 40px;
    border-top: 1.5px solid black;
    border-bottom: 1.5px solid black;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#nav h2{
    height: 100%;
    width: 25%;
    /* background-color: yellow; */
    display: flex;
    align-items: center;
    justify-content: center;
    border-right: 1.5px solid black;
    font-size: 18px;
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;

}
#nav h2:nth-last-child(1){
    width: 15%;
    /* background-color: rebeccapurple; */
}
#nav h1{
    height: 100%;
    width: 30%;
    /* background-color: yellow; */
    display: flex;
    align-items: center;
    justify-content: center;
    /* border-right: 2px solid black; */
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 40px;
    /* font-weight: 600; */
    letter-spacing: -2px;
    position: relative;
    -webkit-text-stroke: 2px black;

}
#nav h1::after{
    -webkit-text-stroke: 0px;
    content: "©";
    font-size: 15px;
    font-weight: 100;
    font-family: Georgia, 'Times New Roman', Times, serif;
    top: 25%;
    right: 20%;
    position: absolute;
}
#nav h1::before{
    -webkit-text-stroke: 0px;
    content: "model management";
    font-size: 10px;
    font-weight: 100;
    letter-spacing: 1px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    bottom: 12%;
    right: 25%;
    position: absolute;
}

#centre{
    height: 90%;
    width: 100%;
    /* background-color: red; */
    padding: 3vw;
    position: relative;
}
#content{
    height: 100%;
    width: 100%;
    background-color: blue;
    position: relative;

}
#content video{
    height: 100%;
    width: 100%;
    object-fit: cover;
    position: relative;
}
#overlay{
    height: 55%;
    width: 100%;
    /* background-color: rebeccapurple; */
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 3vw;   
    color: whitesmoke;
    /* backdrop-filter:blur; */
    
}
#overlay1{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 2vw;
   
}
#overlay1 h1{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 4vw;
}
#overlay1 h2{
    font-size: 1.5vw;
    padding: 2vw;
    /* background-color: aqua; */
    border-radius: 50%;
    border: 1px solid #ffff;
    border-bottom: 3px solid #fff;
    /* rotate: -50deg; */
    
   
}
#overlay2{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 2px solid white;
   
}
#overlay2 h4{
    font-size: 2vw;
    font-weight: 500;
    margin-top: 2vw;
}
#overlay2 img{
    height: 3vw;
    margin-top: 2vw;
}


#scroll{
    height: 40vh;
    width: 100%;
    /* background-color: red; */
    
    white-space: nowrap;
    /* padding: 1vw; */
    overflow-y: hidden;
    overflow-x: hidden;

    
}
#container{
    width: 110%;
    height: 100%;
    /* background-color: blue; */
    display: inline-block;
    padding: 1.5vw;
    /* padding-bottom: 40px; */
    animation-name: anime;
    animation-duration: 10s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@keyframes anime{
    from{
        transform: translatex(0) ;
    }
    to{
        transform: translatex(-100%);
    }
}

#scroll img{
    /* display: none;/ */
    height: 80%;
    width: 13%;
    border-radius: 50%;
    
    margin: 2vw;
    object-fit: cover;
    object-position: top;
}
#scroll img:hover{
    border: 2px solid #fff;

}


#alpha{
    height: 10vh;
    width: 100%;
    /* background-color: bisque; */
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    gap: 0.5vw;
}
#alpha h5{
    font-size: 1.8vw;
    font-weight: 400;
    font-style: italic;
    border-bottom: 2px solid #000;
}
#alpha h6{
    font-size: 1vw;
    font-weight: 400;
    font-style: italic;
    /* border-bottom: 2px solid #000; */
    /* background-color: yellow; */
    padding: 1vh 1.5vh;
    border-radius: 50%;
    /* border: 1px solid black; */

}
#alpha h6:hover{
    border: 1px solid black;
    
}


#page1{
    height: 100%;
    width: 100%;
    /* background-color: #a73a3a; */
    padding: 0.1px;
    display: flex;
    justify-content: space-between;
    padding-left: 5vw;
    padding-right: 5vw;
}

#left{
    height: 80%;
    width: 55%;
    margin-top: 50px;
    background-color: aquamarine;
    /* object-fit: cover; */
    
}
#left img{
    height: 100%;
    width: 100%;
    /* background-color: aquamarine; */
    object-fit: cover;
    object-position: 0% 20%;
}
#left img:hover{
    border: 2px solid #fff;
}
#left-bottom{
    height: 14%;
    width: 100%;
    /* background-color: blue; */
    font-size: 2vw;
    margin-top: 15px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}


#right{
    height: 50%;
    width: 40%;
    margin-top: 50px;
    background-color: aquamarine;
}
#right img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: 0%  10%;

}
#right img:hover{
    border: 2px solid #fff;
}

#right-bottom{
    height: 60%;
    width: 100%;
    /* background-color: azure; */
    display: flex;
    justify-content: space-between;

}
#right-bottom h3{
    font-size: 2.1vw;
    font-weight: 400;
    margin-top: 5vh;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: -0.1vw;
    
}
#right-bottom h5{
    font-size: 1.2vw;
    margin-top: 5vh;
    font-weight: 500;
}


#page2{
    height: 100%;
    width: 100%;
    /* background-color: antiquewhite; */
    /* padding: 0.1px; */
    display: flex;
    justify-content: space-between;
    padding-left: 5vw;
    padding-right: 5vw;
}
#page2-left{
    height: 55%;
    width: 40%;
    margin-top: 50px;
    /* background-color: rgb(33, 255, 48); */
    /* align-items: center;  */
    /* display: flex; */
    /* justify-content: center; */
}
#page2-left h4{
   font-size: 1.7vw;
   font-weight: 500;
   padding-left: 30px;
   padding-top: 20vh;
   letter-spacing: -0.1px;

   
}

#page2-left img{
    height: 100%;
    width: 1005;
    object-fit: cover;   
}


#page2-right{
    height: 85%;
    width: 55%;
    margin-top: 50px;
    background-color: rgb(255, 4, 12);
}
#page2-right img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
#page2-right img:hover{
    border: 2px solid #fff;
}
#page3{
    height: 90%;
    width: 100%;
    /* background-color: gray; */
    padding-left: 5vw;
    padding-right: 5vw;
    padding-bottom: 8?vw;
    padding-top: 2vw;

}
#page3 img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    /* padding: 3vw; */

}
#page3 img:hover{
    border: 5px solid #fff;
}



#page4{
    height: 100%;
    width: 100%;
    /* background-color: red; */
    padding: 5vw 5vw;
    position: relative;
}

#page4>h1{
    -webkit-text-stroke: 2px black;

    font-size: 3vw;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 800;
    margin-bottom: 7vh;
}
.elem{
    height: 17vh;
    width: 100%;
    /* background-color: bisque; */
    border-top: 1.5px solid black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2vw;
    position: relative;
}
.elem img{
    height: 110px;
    width: 110px;
    border-radius: 50%;
    position: absolute;
    left: 12%;
    opacity: 0;
    transition: all ease 0.7s;
}
.elem:hover  img{
    opacity: 1;
    left: 24%;  
}
.elem:nth-last-child(3) img {
    left: 40%;
    opacity: 0;
    transition: all ease 0.7s;
}
.elem:nth-last-child(3):hover img{
    opacity: 1;
    left: 24%;  
}
.elem h4{
    font-size: 1.1vw;
    text-transform: uppercase;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 400;
    width: 6%;
    padding-bottom: 2vh;
}
.elem .elem-part2{
    /* background-color: yellow; */
    width: 50%;
    text-transform: uppercase;
    line-height: 25px;
    padding-top: 1vh;
   
}
.elem .elem-part2 h1{
    font-size: 2.5vw;
    text-transform: uppercase;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 400;
}
.elem .elem-part2 h5{
    font-size: 1vw;
    text-transform: uppercase;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 500;
}
.elem:nth-last-child(1){
    border-bottom: 1.5px solid black;

}


#page5{
    height: 90%;
    width: 100%;
    /* background-color: gray; */
    padding-left: 5vw;
    padding-right: 5vw;
    padding-bottom: 8?vw;
    /* padding-top: 2vw; */

}
#page5 img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    /* padding: 3vw; */
}
#page5 img:hover{
    border: 2px solid #fff;
}

#marque{
    margin-top: 10vh;
    /* height: ; */
    width: 100%;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    /* background-color: bisque; */
    white-space: nowrap;
    overflow-y: hidden;
    overflow-x: hidden;

       
}
#marque>h1{
    display: inline-block;
    font-size: 5vw;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 900;
    margin-left: 16px;
    letter-spacing: 10px;
    -webkit-text-stroke: 2px black;
    color: transparent;
    animation-name: move;
    animation-iteration-count: infinite;
    animation-duration: 5s;
    animation-timing-function: linear;
    
}
@keyframes move {
    from{
        transform: translatex(0);
    }
    to{
        transform: translatex(calc(-100% - 20px));
    }
    
}


#footer{
    height: 100%;
    width: 100%;
}